<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="books">Catalogue </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" >
          <a routerLink="membres">Membres </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" >
          <a routerLink="emprunt">Empruntes </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!authService.userIsLogged()">
          <a routerLink="auth/signup">Ajouter un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!authService.userIsLogged()">
          <a routerLink="auth/signin">Connexion</a>
        </li>
        <li>
          <a 
          *ngIf="authService.userIsLogged()"
          (click)="logout()"
             style="cursor:pointer"
            >Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>