<!--div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Créer un compte</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Adresse mail</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 formControlName="password">
        </div-->
        <!--div class="form-group">
          <label for="firstname">firstName</label>
          <input type="text"
                 id="firstname"
                 class="form-control"
                 formControlName="firstname">
        </div>
        <div class="form-group">
          <label for="cin">cin</label>
          <input type="number"
                 id="cin"
                 class="form-control"
                 formControlName="cin">
        </div>
        <div class="form-group">
          <label for="lastname">lastName</label>
          <input type="text"
                 id="lastname"
                 class="form-control"
                 formControlName="lastname">
        </div-->
        <!--button class="btn btn-primary"
                type="submit"
                [disabled]="signupForm.invalid" 
              >Créer mon compte</button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div-->


  <div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
      <article>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!--div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"> </i></span>
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div-->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
              <input type="email" class="form-control" id="email"  formControlName="email" placeholder="Email Address">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"> </i></span>
              <input type="password" id="password" class="form-control" formControlName="password"  placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"> </i></span>
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="Confirm Password">
            </div>
          </div>
            <button type="submit" class="btn btn-black" [disabled]="signupForm.invalid" >Submit</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </article>
    </section></div>